@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body{
    margin: 0;
    padding: 0;
    background-color: gray;
    
}

h1, p, a{
    color: whitesmoke;
}


/*------------------  HEADER -----------------------*/



.encabezado{
    display: flex;
    justify-content: center;
    background-color: #545454;
    border-bottom: gray 3px solid;
    background-image: url(../img/headeruniverso2.jpeg);
    height: 80px;
}

.encabezado-1{
    font-size: 3em;
    text-align: center;
}

.encabezado img{
    width: 10%;
} 


/*------------------  NAV -----------------------*/
nav{
    
    background-color: gray;  
}

.navegador{    
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: -30px;
    height: 20px;

}

.navegador li{

}

.navegador a{
    padding: 10px;

}
.nav{
    text-decoration: none;
}

li a:hover{
    color: black;
}



/*------------------  home -----------------------*/

.contenedor{
    margin: 0 5%;
    display: flex;
}
#home{
     display: flex;
     justify-content: center;
    
}
.seccion-1{
    width: 415px;
    height: 243px;
    border: solid 1px black;
    opacity: 0.5;
    margin: 0;
}

.seccion-1:hover{
    opacity: 1;
}

.seccion-2{
    width: 415px;
    height: 243px;
    border: solid 1px black;
    opacity: 0.5;
    margin: 0;
}
.seccion-2:hover{
    opacity: 1;
}
/*------------------  CONSOLAS -----------------------*/

.consola1{
    background-image: url(./img/switch.jpg);
    height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: roboto;
    color: white;
    font-size: 50px;
    text-align: center;


}

.consola1 h3{
    width: 600px;
}



.nota1{
    background: grey;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto;
}

.nota1 section{
    width: 250px;
    height: 200px;
    border-right: 2px white solid;
    padding-right: 20px;
    display: inline;
        text-align: center;
    margin-top: 10px;

}

.nota1 aside{
    width: 500px;
    display: inline;
    height: 150px;
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
}

.nota1 p{
    color: white;
}

.nota1 h1{
    color: white;
}

.nota1 img{
    width: 100px;
}

.nota2{
    background-image: url(./img/switchfondo.jpg);
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    padding-top: 60px;


}


.nota2 h4{
    font-size: 45px;
    width: 750px;
    display: block;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 10px;
}

.nota2 p{
    padding-top: 50px;
    width: 750px;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    font-family: roboto;
    font-weight: 300;
}


/*------------------  FORMULARIO -----------------------*/

section{
    background-image: url(./img/imgcontenido.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: roboto;
}

 .Contenedor{
    display: flex;
    min-height: 800px;
    justify-content: space-around;
    align-items: center;
}

.AltaUsuario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: whitesmoke;
    opacity: 0.5;
}

.AltaUsuario:hover{
    opacity: 1;
}

span{
    margin-top: 10px;
    font-size: 30px;

}

.ubicacion{
    opacity: 0.5;
}

object{
    width: 500px;
    height: 580px;
}

.ubicacion:hover{
    opacity: 1;
}

.Botones{
    display: flex;
    justify-content: right;
    margin-top: 50px;
} 

.boton{
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px black solid;
    background-color: black;
    color: aliceblue;
}

.boton:hover {
    background-color: #008CBA;
    color: white;
}

input {
    color: blue;
}







/*------------------  FOOTER -----------------------*/

footer{
    width: 100%;
    height: 50px;
    background-color: #545454;
}

.fa-facebook, .fa-instagram, .fa-pinterest{
    font-size: 30px;
    color: white;
    margin: 0px 5px 0px 5px;
}
.fa-instagram:hover{
    color:violet;
}
.fa-pinterest:hover{
    color:red;
}

.fa-facebook:hover{
    color:blue;
}

#redes{
     display: flex;
     justify-content: center;
     padding-top: 10px;
    
}

